canvas {
  border: 1px solid;
  margin: 10px auto;
  display: block;
}

.header {
    width:100%;
}

a {
  color: black;
 }

nav {
  text-align: right;
  font-family: monospace;
}

h1 {
  text-align: center;
  color: #004B0B;
  text-shadow: 2px 1px #7BA747;
  font-family: monospace;
  font-size: 50px;
  font-weight: bold;
}

body {
  background-image: url("img/7pDoP2C.png");
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  text-align: center;
  font-family: monospace;
  font-size: 14px;
}

.instructions {
  font-family: monospace;
  font-size: 14px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  text-align: center;
  width: 500px;
  margin: auto;
}

.SplashScreen {
  font-family: monospace;
  font-size: 14px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  text-align: center;
  width: 500px;
  margin: auto;
}

#StartButton {
  background: #25A6E1;
	padding:8px 13px;
	color:#fff;
	font-family:'monospace',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:2px solid black;
  margin-top: 2px;
  margin-bottom: 2px;
}
canvas {
  border-width: 3px;
  border-radius: 10px;
  border-style: solid
}

.player {
  font-family: monospace;
  font-size: 14px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  margin: auto;
}
